# ignore intellij idea project files
*.iml
*.ipr
*.iws

# ignore eclipse project files
.settings/
.classpath
.project

# ignore gradle related directories
.gradle/
build/

# never push build artifacts
dist/
